body {
  background-color: #e2e1e0;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 330px
 }
.input {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#searchBar {
  border-style: none;
  height: 1.4em
}
#searchBar:focus {
  outline: none;
}
.submitButton {
  border-style: none;
  height: 1.55em;
  background-color: #ffc947;
  width: max-content;
}
.submitButton:focus {
  outline: none;
}
.errorMessage {
  position: absolute;
  color: rgb(107, 0, 0);
}
.unitSelection {
  display: grid;
  grid-template-columns: 110px 110px 110px;
  
  position:relative;
  margin: 0 auto;
  width: 90px;

  /* display: flex; */
  justify-content: center;
  
}
#fahr {
  grid-column: 1;
  justify-self: right;
}
.toggle {
  grid-column: 2;
  place-self: center;
}

#cel {
  grid-column: 3;
}
.cityCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "title title title"
    "icon condition temp"
    "delete fiveday .";
  width: 330px;
  height: 225px;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.currentTemp {
  grid-area: temp;
  font-size: xxx-large;
  place-self: center;
}
.cityName {
  grid-area: title;
  font-size: xxx-large;
  background-color: #009be5;
  color: white;
  text-align: center;
}
.conditionIcon {
  grid-area: icon;
}
.currentCondition {
  grid-area: condition;
  place-self: center;
  font-size: xx-large;
}

.deleteButton {
  grid-area: delete;
  align-self:end;
  justify-self: left;
  text-align: center;
  text-justify: center;
  font-size: 20pt;
  margin-left: .6em;
  margin-bottom: .6em;
  height: 1.2em;
  width: 1.2em;
  border-style: none;
  border-radius: 50%;
  background-color: #ffc947;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.fiveDayButton {
  grid-area: fiveday;
  align-self: end;
  text-align: center;
  background-color: #ffc947;
  margin-bottom: .7em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}